body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin: 20px;
    text-align: center;
}

.loader {
    text-align: center;
    border-radius: 5px;
    background: pink;
}

.search-results {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        margin-top: 20px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image {
    align-self: center;
}

.neutral {
    border-radius: 50px;
    font-size: 18px;
    background: gray;
    color: #fff;
    text-align: center;
}