.card {
    display: flex;
    flex-flow: column nowrap;
    margin: 5px;
    border: 1px solid black;
}

.cost {
    width: 20px;
    height: 20px;
    font-size: 15px;
    line-height: 20px; 
    border-radius: 50%;
    text-align: center;

    .water {
        background: blue;
    }

    .fire {
        background: red;
    }

    .light {
        background: lightgray
    }

    .dark {
        background: darkgrey;
    }

    .forest {
        background: green;
    }

    .neutral {
        background: gray;
    }
}